## Folder
__MACOSX/
.cache/
.ipython/
.jupyter/
.local/
.vscode-server/
*.ipynb_checkpoints/
*data/
*output/
.idea/
.config/
*special_mission/
.nv/
*wandb/

## data
*.tsv
*.json
*.csv
*.txt
*.sh
*.out

## file
.bash_history
.bash_profile
.bashrc
.conda
.condarc
.profile
.viminfo
.wget-hsts
.DS_Store
.gitconfig
.empty
.python_history
__pycache__
.netrc
.screenrc